/*header*/
.esa {
  display: flex;
  justify-content: flex-end; }

header {
  z-index: -1;
  max-width: 1600px;
  height: 700px;
  width: 100%;
  background-image: url(https://santy-ramirez.github.io/landing-page-skateboard/images/MG.png);
  background-size: cover;
  background-position-y: 0;
  background-color: red;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto; }
  header::before {
    content: " ";
    position: absolute;
    z-index: 1;
    margin-top: -10em;
    display: block;
    height: 30%;
    width: 100%;
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
    bottom: 0;
    left: 0; }

.hero {
  height: 30rem;
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hero__social {
  display: none; }

@media screen and (min-width: 992px) {
  header {
    height: 1200px; }

  .hero {
    height: 40rem; }

  .hero__titulo h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
    line-height: 4rem; }

  .hero__slider {
    margin-bottom: -4em;
    z-index: 2; }
    .hero__slider a {
      font-family: Poppins;
      font-style: normal;
      font-weight: 200;
      font-size: 2rem;
      line-height: 3rem; } }
@media screen and (min-width: 1000px) {
  header {
    height: 1200px; }

  .hero {
    display: flex;
    flex-direction: row; }

  .hero__social {
    display: initial; }

  .hero__titulo h1 {
    padding: 0 1em; }

  .hero__slider {
    margin-bottom: 0;
    height: 5em;
    border-right: 1px solid black;
    z-index: 2; }
    .hero__slider a {
      font-family: Poppins;
      font-style: normal;
      font-weight: 200;
      font-size: 1rem;
      line-height: 1rem; } }
main {
  background-color: #0B1D26;
  max-width: 1600px;
  margin: 0 auto; }

.cart {
  padding-block-start: 4em;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .cart .cart__titulo {
    margin-inline-end: 2em;
    margin-inline-start: 2em;
    font-size: 2em;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; }
    .cart .cart__titulo span {
      font-size: 2em; }
      .cart .cart__titulo span::before {
        content: "-";
        color: yellow;
        font-size: 2em;
        margin-inline-end: -.6em;
        z-index: -1; }
  .cart .cart__parrafo {
    margin: 0 auto;
    margin-block-end: 2em;
    padding-block-end: 1em;
    padding-inline-start: 1em;
    max-width: 25em;
    line-height: 2rem; }
  .cart img {
    width: 100%; }

@media screen and (min-width: 991px) {
  main {
    background-color: transparent;
    margin-block-start: -12em; }

  .cart {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    background-color: #0B1D26;
    color: white; }
    .cart .cart__titulo {
      margin: 0; }
    .cart .cart__parrafo {
      padding-inline-start: 0;
      margin-block-end: 0;
      margin-inline-start: -8em;
      margin-inline-end: 7em;
      padding-block-end: 0;
      padding-block-start: 7em; }
    .cart .cart__parrafo-3 {
      margin-inline-start: -16em;
      padding-block-start: 5em; }
    .cart img {
      min-height: 100%; }

  .cart-3 {
    flex-direction: row-reverse;
    justify-content: space-between; }
    .cart-3 .left {
      margin-inline-start: 6em; }
      .cart-3 .left .cart__parrafo-1 {
        padding-block-start: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        min-width: 25em; } }
footer {
  display: flex;
  flex-direction: column; }
  footer .footer-seccion {
    margin: 30px; }
    footer .footer-seccion ul {
      color: #FDD130; }
      footer .footer-seccion ul li {
        color: white;
        list-style: none; }

@media only screen and (min-width: 700px) {
  footer {
    display: flex;
    flex-direction: row; } }
* {
  margin: 0%;
  padding: 0px; }

html, body {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");
  font-size: 16px;
  font-family: Poppins; }

/*# sourceMappingURL=styles.css.map */
