 /*header*/
 .esa {

     display: flex;
     justify-content: flex-end;
 }


 header {
     z-index: -1;
     max-width: 1600px;
     height: 700px;
     width: 100%;
     background-image: url(/images/MG.png);
     background-size: cover;
     background-position-y: 0;
     background-color: red;
     background-repeat: no-repeat;
     position: relative;
     margin: 0 auto;

     &::before {
         content: " ";
         position: absolute;
         z-index: 1;
         margin-top: -10em;
         display: block;
         height: 30%;
         width: 100%;
         background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
         bottom: 0;
         left: 0;
     }
 }

 .hero {
     border: red solid;
     height: 30rem;
     padding: 4em 2em;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
 }

 .hero__social {
     display: none;
 }












 @media screen and (min-width: 992px) {

     header {
         height: 1200px;
     }

     .hero {
         height: 40rem;
     }

     .hero__titulo {

         h1 {
             font-family: Poppins;
             font-style: normal;
             font-weight: 300;
             font-size: 3rem;
             line-height: 4rem;
         }
     }

     .hero__slider {
         margin-bottom: -4em;
         z-index: 2;

         a {
             font-family: Poppins;
             font-style: normal;
             font-weight: 200;
             font-size: 2rem;
             line-height: 3rem;

         }
     }


 }




 @media screen and (min-width: 1000px) {
     header {
         height: 1200px;
     }

     .hero {
         display: flex;
         flex-direction: row;


     }

     .hero__social {
         display: initial;

     }

     .hero__titulo {

         h1 {
             padding: 0 1em;

         }

     }

     .hero__slider {
         margin-bottom: 0;
         height: 5em;
         border-right: 1px solid black;
         z-index: 2;

         a {

             font-family: Poppins;
             font-style: normal;
             font-weight: 200;
             font-size: 1rem;
             line-height: 1rem;

         }

     }
 }